.flex{
    display: flex;
}
.containar{
    display: flex;
    border: 2px solid black;
    height: 250px;
    width: 250px;
    justify-content: center;
    gap: 10px;
   



}
.child1,.child2,.child3{
    border: 1px solid red;
    width: 50px;
    height: 20px;
}
.containar1{
    display: flex;
    border: 2px solid black;
    height: 250px;
    width: 250px;
    gap: 10px;
    justify-content: center;
    align-items: center;
   



}
.child4,.child5,.child6{
    border: 1px solid red;
    width: 50px;
    height: 20px;}

.containar2{
    display: flex;
    border: 2px solid black;
    height: 250px;
    width: 250px;
    gap: 10px;
    justify-content: center;
}
.child7,.child8,.child9{
    border: 1px solid red;
    width: 50px;
    height: 20px;
    text-align: center;
    align-self: flex-end;
}
.containar3{
    display: flex;
    border: 2px solid black;
    height: 250px;
    width: 250px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.child10,.child11,.child12{
    border: 1px solid red;
    width: 50px;
    height: 20px;}
.child11{
    align-self: flex-end;
}
.flex2{
    display: flex;
}
.containar4{
   display: flex;
   flex-direction: column-reverse;
   justify-content: flex-end;
   /* justify-content: flex-end; */
    border: 2px solid rgb(0, 255, 98);
    height: 250px;
    width: 250px;
    gap: 10px;
    justify-self: start;;
    align-items: center;
   



}
.child13,.child14,.child15{
    border: 1px solid red;
    width: 50px;
    height: 20px;}
